body {
  background-image:url("background.jpg");
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 520px;
  width: 320px;
  margin-top: -260px;
  margin-left: -160px;
}

.core {
   width: 320px;
   height: 480px;
   background: rgba(0,0,0,0.4);
   position: relative;
   display: inline-block;
}
.core-butt {
   height: 0;
   width: 240px;
   content:"";
   position: absolute;
   border-top: 40px solid rgba(0,0,0,0.4);
   border-left: 40px solid transparent;
   border-right: 40px solid transparent;
   top: 480px;
}

.rgb {
    width: 0;
    height: 0;
}

.cyan {
    background: #00ffff;
}

.red {
    background: #ff0000;
}

.green {
    background: #00ff00;
}

.blue {
    background: #0000ff;
}

.magenta {
    background: #ff00ff;
}

.yellow {
    background: #ffff00;
}

.pattern {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    content: "";
    background: white;
    position: absolute;
    top: 60px;
    left: 145px;
}

.small .pattern {
    width: 15px;
    height: 15px;
    top: 15px;
    left: 22.5px;
}

.breathing {
    animation: change 4s infinite;
    -webkit-animation: change 4s infinite;
    -moz-animation: change 4s infinite;
    -o-animation: change 4s infinite;
}

.flashing {
    animation: change 0.4s infinite step-end;
    -webkit-animation: change 0.4s infinite step-end;
    -moz-animation: change 0.4s infinite step-end;
    -o-animation: change 0.4s infinite step-end;
}

.fast {
    animation-duration: 0.1s;
    -webkit-animation-duration: 0.1s;
    -moz-animation-duration: 0.1s;
    -o-animation-duration: 0.1s;
}

@keyframes change {
    from, to { background: rgba(0,0,0,0.1); }
    50% { background: inherit; }
}

@-webkit-keyframes change {
    from, to { background: rgba(0,0,0,0.1); }
    50% { background: inherit; }
}

@-moz-keyframes change {
    from, to { background: rgba(0,0,0,0.1); }
    50% { background: inherit; }
}

@-o-keyframes change {
    from, to { background: rgba(0,0,0,0.1); }
    50% { background: inherit; }
}

.pin {
    width: 24px;
    height: 24px;
    border-radius: 20px;
    content: "";
    background: rgba(0,0,0,0.3);
    position: absolute;
    cursor: pointer;
}

.analog {
    left: 20px;
}

.digital {
    right: 20px;
}

.seven {
    top: 20px;
}

.six {
    top: 80px;
}

.five {
    top: 140px;
}

.four {
    top: 200px;
}

.three {
    top: 260px;
}

.two {
    top: 320px;
}

.one {
    top: 380px;
}

.zero {
    top: 440px;
}

.active {
    background: rgba(255,255,255,0.8);
}
